@import "../../global.scss";

.crew{
    background-image: url("../../../public/assets/crew/background-crew-desktop.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    color: $color3;
    overflow: hidden;

    @include mobile{
        background-image: url("../../../public/assets/crew/background-crew-mobile.jpg");  
    }

    @include tablet{
        background-image: url("../../../public/assets/crew/background-crew-tablet.jpg");  
    }
    .left{
        flex: 0.5;
       
        h5,span{
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 400;
                font-size: $h5-size;
                letter-spacing: $h5-spacing;

                @include mobile{
                    font-size: 16px;
                    letter-spacing: 2.7px;
                }

                @include tablet{
                    font-size: 20px;
                }
            }
        h5{
            
            margin-top: 212px;
            margin-bottom: -80px;
            margin-left: 175px;

            @include mobile{
                margin: 0px;
                margin-top: 110px;
                text-align: center;
                width: 100%;
            }

            @include tablet{
                margin-left: 38px;
                margin-top: 135px;
            }
            
        }
        span{
            font-weight: 700;
            mix-blend-mode: normal;
            opacity: 0.25;
        }


        .mySwiper{
        

            @include mobile{
                height: 82vh;
            }
            .swiper-custom-pagination {
                position: absolute;
                margin-left: 165px;
                margin-bottom: 150px;

                @include mobile{
                    margin-left: auto; 
                    margin-right: auto; 
                    margin-top: 270px;
                    left: 0; 
                    right: 0; 
                    top: 0px;
                    text-align: center;
                }
                @include tablet{
                    margin-left: auto; 
                    margin-right: auto; 
                    left: 0; 
                    right: 0; 
                    margin-bottom: 0px;
                    margin-top: 370px;
                    top: 0px;
                    text-align: center;
                }
            }
            .swiper-pagination-bullet{
                background-color: $color3;
                width: 15px;
                height: 15px;
                margin-left: 15px;  

                @include tablet{
                    width: 10px;
                    height: 10px;
                }
            }
            .swiper-pagination-bullet-active{
                background-color: $color3;
                opacity: 1;
                
            }
            .crew-text{
                position: absolute;
                margin-left: 165px;
                margin-top: 160px;

                @include mobile{
                    text-align: center;
                    margin-top: 280px;
                    margin-left: auto; 
                    margin-right: auto; 
                    left: 0; 
                    right: 0; 
                }
                @include tablet{
                    text-align: center;
                    margin-top: 100px;
                    margin-left: auto; 
                    margin-right: auto; 
                    left: 0; 
                    right: 0; 
                }
                h4{
                    font-size: $h4-size;
                    font-family: 'Bellefair', serif;
                    font-weight: 200;
                    opacity: 0.5;

                    @include mobile{
                        font-size: 16px;
                    }
                    @include tablet{
                        font-size: 24px;  
                    }
                }
                h3{
                    font-size: $h3-size;
                    font-family: 'Bellefair', serif;
                    font-weight: 200;
                    margin-top: -28px;

                    @include mobile{
                        font-size: 24px;  
                        margin-top: 0px;
                        line-height: 18px;
                    }
                    @include tablet{
                        font-size: 40px;  
                    }
                    
                }
                .body-text{
                    font-family: 'Barlow', sans-serif;
                    font-size: $body-size;
                    font-weight: 200;
                    line-height: 32px;
                    color: $color2;
                    inline-size: 443px; 
                    margin-top: -29px;

                    @include mobile{
                        font-size: 15px;
                        line-height: 25px;
                        inline-size: 327px;
                        margin-top: 0px;
                        margin-left: auto; 
                        margin-right: auto; 
                        left: 0; 
                        right: 0; 
                    }
                    @include tablet{
                        font-size: $nav-size;
                        line-height: 28px;
                        margin-left: auto; 
                        margin-right: auto; 
                        left: 0; 
                        right: 0; 
                    }
                }
           }
            .crew-pic{
                margin-left: 55vw;
                margin-top: 16vh;  
                height: 650px;

                @include mobile{
                    position: absolute;
                    text-align: center;
                    margin-left: auto; 
                    margin-right: auto; 
                    left: 0; 
                    right: 0; 
                    margin-top: 20px;
                    height: 223px;
                }

                @include tablet{
                    margin-left: 22vw;
                    margin-top: 41vh;
                    height: 530px;
                }
            }
            
            
        }
       
    }
}