@import "../../global.scss";

.crew{
    background-image: url("../../../public/assets/crew/background-crew-desktop.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 969px;
    color: $color3;
    overflow: hidden;
    
    .left{
        flex: 0.5;
       
        h5,span{
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 400;
                font-size: $h5-size;
                letter-spacing: $h5-spacing;
            }
        h5{
            
            margin-top: 212px;
            margin-bottom: -80px;
            margin-left: 175px;
            
        }
        span{
            font-weight: 700;
            mix-blend-mode: normal;
            opacity: 0.25;
        }


        .mySwiper{
            width: 300vh;
            
            .swiper-custom-pagination {
                position: absolute;
                margin-left: 165px;
                margin-bottom: 150px;
            }
            .swiper-pagination-bullet{
                background-color: $color3;
                width: 15px;
                height: 15px;
                margin-left: 15px;   
            }
            .swiper-pagination-bullet-active{
                background-color: $color3;
                opacity: 1;
                
            }
            .crew-text{
                position: absolute;
                margin-left: 165px;
                margin-top: 160px;
                
                h4{
                    font-size: $h4-size;
                    font-family: 'Bellefair', serif;
                    font-weight: 200;
                    opacity: 0.5;
                    
                }
                h3{
                    font-size: $h3-size;
                    font-family: 'Bellefair', serif;
                    font-weight: 200;
                    margin-top: -28px;
                    
                }
                .body-text{
                    font-family: 'Barlow', sans-serif;
                    font-size: $body-size;
                    font-weight: 200;
                    line-height: 32px;
                    color: $color2;
                    inline-size: 443px; 
                    margin-top: -29px;
                }
           }
            .crew-douglas,.crew-mark,.crew-victor,.crew-anousheh{

            }
            .crew-douglas{
                margin-left: 1050px;
                margin-top: 105px;   
            }
            .crew-mark{
                margin-left: 1100px;
                margin-top: 164px;
                
            }
            .crew-victor{
                margin-left: 1025px;
                margin-top: 160px;   
            }
            .crew-anousheh{ 
                margin-left: 1050px;
                margin-top: 200px;     
            }
        }
       
    }
}