@import "../../global.scss";


.navbar{
    
    
    .logo{  
        position: absolute; 
        left: 55px;
        top: 64px;
        
    }
  
    .nav-rectangle{
        position: absolute;
        width: 830px;
        height: 96px;
        right: 0px;
        top: 40px;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.7742px);

        .nav-padding{
            padding: 38px 38px 38px 86px;
            

            .nav-text{
                font-family: 'Barlow Condensed', sans-serif;
                font-size: $nav-size;
                letter-spacing: $nav-spacing;
                color: white;
                text-decoration: none;
                margin-left: 48px;
                
                span{
                    font-weight: 700;
                }

            }

            .nav-text:hover{
                display: inline-block;
                line-height: 1;
                background-color: transparent; 
                background: linear-gradient(#979797 0 0) center bottom / 100% 3px no-repeat;
                background-size: 100% 3px;
                padding-bottom: 38px;
            }

            .active{
                display: inline-block;
                line-height: 1;
                background-color: transparent; 
                background: linear-gradient(#FFFFFF 0 0) center bottom / 100% 3px no-repeat;
                background-size: 100% 3px;
                padding-bottom: 38px;
                pointer-events: none;
            }
           
            
        }
        

        .nav-line{
            position: absolute; 
            width: 473px;
            height: 1px;
            right: 820px;
            top: 38px;
            background: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.25;
        }
    }
    
}