@import "../../global.scss";


.technology{
    background-image: url("../../../public/assets/technology/background-technology-desktop.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 969px;
    color: $color3;
    overflow: hidden;

    .left{
        flex: 0.5;
      
        
        h5,span{
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 400;
                font-size: $h5-size;
                letter-spacing: $h5-spacing;
            }
        h5{
            
            margin-top: 212px;
            margin-bottom: -80px;
            margin-left: 175px;
            
        }
        span{
            font-weight: 700;
            mix-blend-mode: normal;
            opacity: 0.25;
        }
       
        .Swiper{
            height: 80vh;
            
            .destination-text{
                margin-left: 325px;
                margin-top: 225px;
                
                .terminology{
                    font-size: $nav-size;
                    letter-spacing: $nav-spacing;
                    font-family: 'Barlow Condensed';
                    font-weight: 400;
                    color: $color2;      
                    
                }
                h3{
                    font-size: $h3-size;
                    font-family: 'Bellefair', serif;
                    font-weight: 200;
                    margin-top: 0px;
                    
                }
                .body-text{
                    font-family: 'Barlow', sans-serif;
                    font-size: $body-size;
                    font-weight: 200;
                    line-height: 32px;
                    color: $color2;
                    inline-size: 443px; 
                    margin-top: -29px;
                }
           }
            //Number inside pagination bullet
            h4{
                font-size: $h4-size;
                font-family: 'Bellefair', serif;
                font-weight: 700;
                color: $color2;
            }
      
            .swiper-pagination {
               margin-bottom: 230px;
               margin-left: 125px;
            }
            
            .swiper-pagination-bullet{
                background-color: transparent;
                padding: 35px;
                display: flex;
                margin-top: 33px;
                opacity: 0.25;
                border: 1px solid #FFFFFF;
            }
            
            .swiper-pagination-bullet-active{
                background-color: $color3;
                color: $color1;
                opacity: 1;
            }
            
            .destination-image{
                position: absolute;
                margin-left: 1200px;
                margin-top: 125px;
                border-radius: 10px;
                border: solid 1px $color3;
                box-shadow: 3px 3px 10px white;
            }

        }
    

    }
}