@import "../../global.scss";


.technology{
    background-image: url("../../../public/assets/technology/background-technology-desktop.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: $color3;
    overflow: hidden;
    

    @include mobile{
        background-image: url("../../../public/assets/technology/background-technology-mobile.jpg");  
    }
    @include tablet{
        background-image: url("../../../public/assets/technology/background-technology-tablet.jpg");  
    }

    .left{
        flex: 0.5;
      
        h5{
            margin-top: 212px;
            margin-left: 175px;
            margin-bottom: -80px;
        }
        h5,small{
            @include mobile{
                text-align: center;
                margin: 0px;
                margin-top: 110px;
            }
            @include tablet{
                margin-left: 38px;
                margin-top: 135px;
            }
        }
       
        .Swiper{
            height: 80vh;

            @include mobile{
                
                
            }
            .technology-text{
                margin-left: 15vw;
                margin-top: 22vh;

                @include mobile{
                    margin-left: 0px;
                    margin-top: 280px;
                    text-align: center;
                }
                @include tablet{
                    margin-left: 0px;
                    margin-top: 55vh;
                    text-align: center;
                }
                
                .terminology{
                    font-size: $nav-size;
                    letter-spacing: $nav-spacing;
                    font-family: 'Barlow Condensed';
                    font-weight: 400;
                    color: $color2; 
                         
                    @include mobile{
                        font-size: $sh2-size; 
                        letter-spacing: $sh2-spacing;
                    }
                    
                }
                h3{
                    margin-top: 0px;
                }
                .body-text{
                    font-family: 'Barlow', sans-serif;
                    font-size: $body-size;
                    font-weight: 200;
                    inline-size: 443px; 
                    line-height: 32px;
                    color: $color2;
                    margin-top: -29px;

                    @include mobile{
                        font-size: 15px;
                        line-height: 25px;     
                        margin-top: 0px;               
                        margin-left: 10vw;
                        width: 80%;
                        min-width: 80%;
                        text-align: center;
                    }
                    @include tablet{
                        font-size: 15px;
                        line-height: 25px; 
                        width: 55%;
                        min-width: 55%;
                        margin-left: 23vw;
                        text-align: center;
                    }
                }
           }
            //Number inside pagination bullet
            h4{
                font-size: $h4-size;
                font-family: 'Bellefair', serif;
                font-weight: 700;
                color: $color2;
               
                @include mobile{
                    font-size: 16px;
                }
                @include tablet{
                    font-size: 24px;
                }
            }
      
            .swiper-pagination {
               margin-bottom: 230px;
               margin-left: 125px;
               
               @include mobile{
                    margin-left: 0px;
                    margin-bottom: 0px;
                    margin-top: 170px;
                    top: 0px;
                }
                @include tablet{
                    margin-left: 0px;
                    margin-bottom: 0px;
                    margin-top: 40vh;
                    top: 0px;
                }
           
            }
            
            .swiper-pagination-bullet{
                background-color: transparent;
                padding: 35px;
                display: flex;
                margin-top: 33px;
                opacity: 0.25;
                border: 1px solid #FFFFFF;

                @include mobile{
                    padding: 15px;
                    display: inline-block;
                    
                }
                @include tablet{
                    display: inline-block;
                    padding: 30px;
                }
            }

            .swiper-pagination-bullet-active{
                background-color: $color3;
                color: $color1;
                opacity: 1;
            }
            
            .technology-image{
                position: absolute;
                margin-left: 65vw;
                margin-top: 15vh;
                width: 515px;
                height: auto;
                border-radius: 10px;
                border: solid 1px $color3;
                box-shadow: 3px 3px 10px white;

                @include mobile{
                    display: none;
                    
                }
                @include tablet{
                    display: none;
                    
                }
            }

            .technology-image-landscape{
                display: none;

                @include mobile{
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: auto;
                    margin-top: 10px;
                    border-top: solid 1px $color3;
                    border-bottom: solid 1px $color3;
                }
                @include tablet{
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 310px;
                    margin-top: 100px;
                    border-top: solid 1px $color3;
                    border-bottom: solid 1px $color3;
                }
            }
        }
    

    }
}