@import "../../global.scss";


.destination{
    background-image: url("../../../public/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 969px;
    color: white;
  
    
    .left{
        flex: 0.5;
        overflow: hidden;

        h5,span{
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 400;
                font-size: $h5-size;
                letter-spacing: $h5-spacing;
               
            }
        h5{
            position: absolute;
            margin-top: 212px;
            margin-left: 175px;
            
        }
        span{
            font-weight: 700;
            mix-blend-mode: normal;
            opacity: 0.25;
        }

        .moon{
            position: absolute;
            margin-top: 343px;
            margin-left: 230px;
        }
    }

    .right{
        flex: 0.5;
        position: relative;
        float: right;
        width: 500px;

        .destination-text{
            
        }
    }
}

