@import "../../global.scss";


.destination{
    background-image: url("../../../public/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 881px;
    color: $color3;
    overflow: hidden;
  
    
    .left{
        flex: 0.5;
        overflow: hidden;

        h5,span{
                font-family: 'Barlow Condensed', sans-serif;
                font-weight: 400;
                font-size: $h5-size;
                letter-spacing: $h5-spacing;
               
            }
        h5{
            position: absolute;
            margin-top: 212px;
            margin-left: 175px;
            
        }
        span{
            font-weight: 700;
            mix-blend-mode: normal;
            opacity: 0.25;
        }

      
    }

    .right{
        flex: 0.5;


        h2{
           
            font-family: 'Bellefair', serif;
            font-size: $h2-size;
            font-weight: 400;
        }
        
        .destination-pic{
            position: absolute;
            left: 0px;
            top: 0px;
            margin-left: 230px;
            margin-top: 343px;
            
        }


        .body-text{
            font-family: 'Barlow', sans-serif;
            font-size: $body-size;
            font-weight: 200;
            line-height: 32px;
            margin-top: -65px;
            color: $color2;
        }
        .destination-line{
            border: 1px solid #383B4B;
            opacity: 40%;
            margin-top: 50px;
          
        }
        .sh2{
            color: $color2;
            font-size: $sh2-size;
            letter-spacing: $sh2-spacing;
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 200;
            position: absolute;

        }
        .distance,.time{
            margin-top: 25px;

            .h4{
                font-size: $h4-size;
                font-family: 'Bellefair', serif;
                position: absolute;
            }
        }
        .time{
            margin-left: 225px;
        }
       
    }
}

