@import "../../global.scss";

.destination{
    background-image: url("../../../public/assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    color: $color3;
    overflow: hidden;
    overflow-x: hidden;

    @include mobile{
        background-image: url("../../../public/assets/destination/background-destination-mobile.jpg");  
       
    }

    @include tablet{
         background-image: url("../../../public/assets/destination/background-destination-tablet.jpg");  
    }
    
    .left{
        flex: 0.5;
        overflow: hidden;
        
        h5{
            position: absolute;
            margin-top: 212px;
            margin-left: 175px;
        }
        h5,small{
            @include mobile{
                text-align: center;
                margin-left: 0px;
                margin-top: 110px;
                width: 100%;
            }
            @include tablet{
                margin-left: 38px;
                margin-top: 135px;
            }
        }
        
    }

    .right{
        flex: 0.5;
        text-align: center;
        
        @include mobile{
            position: absolute;
        }

        .destination-pic{
            position: absolute;
            left: 0px;
            top: 0px;
            margin-left: 13vw;
            margin-top: 343px;

            @include mobile{
                width: 170px;
                height: 170px;
                margin-top: 140px;
                margin-left: auto; 
                margin-right: auto; 
                left: 0; 
                right: 0; 
            }

            @include tablet{
                width: 300px;
                height: 300px;
                margin-top: 20vh;
                margin-left: auto; 
                margin-right: auto; 
                left: 0; 
                right: 0; 
            }
        }

        .body-text{
            font-family: 'Barlow', sans-serif;
            font-size: $body-size;
            font-weight: 200;
            line-height: 32px;
            margin-top: -65px;
            color: $color2;
            inline-size: 443px; 
            text-align: left;
            
            @include mobile{
                font-size: 15px;
                line-height: 25px;                
                margin-left: 10vw;
                margin-top: -35px;
                width: 80%;
                min-width: 80%;
                text-align: center;
            }
            @include tablet{
                font-size: $nav-size;
                line-height: 28px; 
                width: 55%;
                min-width: 55%;
                margin-left: 23vw;
                text-align: center;
            }
        }
        .destination-line{
            border: 1px solid #383B4B;
            opacity: 40%;
            margin-top: 50px;

            @include mobile{
                width: 327px;
            }
           
        }
        .sh2{
            color: $color2;
            font-size: $sh2-size;
            letter-spacing: $sh2-spacing;
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 200;
            position: absolute;

            @include mobile{
                font-size: 14px; 
                text-align: center;
                position: relative;
            }
            @include tablet{
                margin-left: 30vw;
            }
        }
        h4{
            position: absolute;

            @include mobile{
                font-size: 28px; 
                text-align: center;
                position: relative;
                margin-top: 0px;
            }
            @include tablet{
                margin-left: 30vw;
            }
        }

        .distance{
            margin-top: 25px;
        }
            
        }
        .time{
            margin-top: 25px;
            margin-left: 225px;
            
            @include mobile{
                margin-left: 0px; 
            }
        }
}

