// font sizes
$nav-size: 16px; // Nav (Barlow Condensed Regular)
$body-size: 18px; // Body (Barlow Regular)
$sh2-size: 14px; // Subheading 2 (Barlow Condensed Regular)
$h5-size: 28px; // Heading 5 (Barlow Condensed Regular) & Subheading 1 (Bellefair Regular)
$h4-size: 32px; // Heading 4 (Bellefair Regular)
$h3-size: 56px; // Heading 3 (Bellefair Regular)
$h2-size: 100px; // Heading 2 (Bellefair Regular)
$h1-size: 150px; // Heading 1 (Bellefair Regular)

// character spacing
$h5-spacing: 4.75px;
$sh2-spacing: 2.35px;
$nav-spacing: 2.7px;

// colors
$color1: #0B0D17;
$color2: #D0D6F9;
$color3: #FFFFFF;

$tablet-width: 1023px;

@mixin tablet {
    @media (max-width: #{$tablet-width}) and (min-width: #{$width}){
        @content
    }
}

$width: 767px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

